{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 140,
  "semi": true,
  "quoteProps": "consistent",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf"
}
