section#home-section {
    display: grid;
    grid-template: 64px 1fr / 15vw 1fr 15vw;
    align-items: center;
    justify-items: center;
    min-height: 75vh;
}

section#home-section h1 {
    grid-column: 2;
    grid-row: 1;
    display: inline-block;
}

section#home-section select {
    grid-column: 3;
    justify-self: right;
    margin-right: 5vw;
}

section#home-section .loading-spinner {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
}

section#home-section .mapboxgl-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
}