section#schools-list-section {
    display: grid;
    grid-template: 64px 96px 1fr / 5vw 1fr 5vw;
    align-items: center;
    justify-items: center;
    min-height: 75vh;
}

section#schools-list-section h1 {
    grid-column: 2;
    grid-row: 1;
    display: inline-block;
}

section#schools-list-section .autocomplete {
    grid-column: 2;
    grid-row: 2;
    align-self: top;
    justify-self: center;
    /* color: var(--primary-color); */
    margin-bottom: 20px;
}

section#schools-list-section .loading-spinner {
    grid-column: 2;
    grid-row: 3;
    padding-top: 25vh
}


section#schools-list-section .school-list {
    grid-column: 2;
    grid-row: 3;
    align-self: unset;
    max-height: 75vh;
    overflow-y: scroll;
    height: 100%;
}

.school-list-item {
    display: inline-block;
    padding: 20px;
}

@media (max-width: 640px) {
    input.autocomplete  {
        max-width: 90vw;
    }
}